#credentials.js - removed from this file because switched out with env variables


#node modules
node_modules/

#logs
logs
*.log

#environment variables
.env

.firebaserc

web-api-auth-examples/

#profile pictures
uploads/