<img style="height:40vh; margin-top:10vh;"
	src="https://res.cloudinary.com/hcsrlzzci/image/upload/v1498142727/test-tilted-transparent-404-3_mwu7xr.png">
<h1>Oops! That page doesn't exist.</h1>
<p>This here is a 404 error. You can go back if you want.
If this keeps happening, contact support.</p>
<style>
*{
	color: white;
	text-align: center;
}
</style>