    <div class="container">
      <div id="login">
        <h3>Add Your Top Artists from Spotify</h3>
        <button id="login-button" class="btn btn-primary">Get Artists from Spotify</button>
      </div>
	  
	<!-- REMOVING THIS FOR NOW IOT SIMPLIFY. TODO: ADD IT BACK LATER.
	  <h3>Add Artists</h3>
	  <div id="bandEntry"><input id="bandInput" type="text"><button id="addBand">Add</button></div> -->
	<div id="bands">		
	</div>
	
      <div id="loggedin">
		<p>Added your top artists from Spotify.</p>
        <!--div id="user-profile">
        </div>
        <div id="oauth">
        </div-->
      </div>
	  <div id="continue">
		<button id="continueButton" class="btn large" style="display:none">Continue to Profile</button>
	  </div>
    </div>

    <script>
      (function() {	  

		function findImage(x){
			for(i=0;i<x.length;i++){
				if(175 < x[i]['height'] < 300){
					return i;
				}
			}
		};
	  
        var stateKey = 'spotify_auth_state';
		
		var savedBands = []; //TODO: clear localStorage upon adding bands to profile....
		/*var localStoreBands = localStorage.getItem("savedBands");
		if(localStoreBands){
			var previousBands = JSON.parse(localStoreBands);
			previousBands.forEach(function(band){
				$("#bands").append("<button class='btn addedBand'>"+band.name+"<span class='glyphicon glyphicon-remove'></span></button>");
			});
		};
		*/
		//var storedNames = JSON.parse(localStorage.getItem("savedBands"));

        /**
         * Obtains parameters from the hash of the URL
         * @return Object
         */
        function getHashParams() {
			var hashParams = {};
			var e, r = /([^&;=]+)=?([^&;]*)/g,
				q = window.location.hash.substring(1);
			while ( e = r.exec(q)) {
				hashParams[e[1]] = decodeURIComponent(e[2]);
			}
			return hashParams;
        }

        /**
         * Generates a random string containing numbers and letters
         * @param  {number} length The length of the string
         * @return {string} The generated string
         */
        function generateRandomString(length) {
			var text = '';
			var possible = 'ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789';

			for (var i = 0; i < length; i++) {	
				text += possible.charAt(Math.floor(Math.random() * possible.length));
			}
			return text;
        };

        var params = getHashParams();

        var access_token = params.access_token,
            state = params.state,
            storedState = localStorage.getItem(stateKey);

        if (access_token && (state == null || state !== storedState)) {
          alert('There was an error during the authentication');
        } else {
          localStorage.removeItem(stateKey);
          if (access_token) {
            $.ajax({
                url: 'https://api.spotify.com/v1/me/top/artists',
                headers: {
                  'Authorization': 'Bearer ' + access_token
                },
                success: function(response) {
						console.log(response);
						response.items.forEach(function(i){
							var imgIndex = findImage(i.images);
							$('#bands').append("<img class='bandImage' src="+i.images[imgIndex].url+"></img>");
							//was appending: <button class='btn addedBand'>"+i.name+
							//"<span class='glyphicon glyphicon-remove'></span></button>
							savedBands.push({"name" : i.name, "spotifyId": i.id, "artistImage": i.images[imgIndex].url});
						});					
					  $('#login').hide();
					  $('#loggedin').show();
					  $('#continueButton').show();
                }
            });
          } else {
              $('#login').show();
              $('#loggedin').hide();
          }

        document.getElementById('login-button').addEventListener('click', function() {
		  
			localStorage.setItem("savedBands", JSON.stringify(savedBands));

			

            var client_id = 'bc80436ad194471c8a791c060649ecf9'; // Your client id
            var redirect_uri = 'https://bandfriend.herokuapp.com/add-bands'; // Your redirect uri

            var state = generateRandomString(16);

            localStorage.setItem(stateKey, state);
            var scope = 'user-top-read';

            var url = 'https://accounts.spotify.com/authorize';
            url += '?response_type=token';
            url += '&client_id=' + encodeURIComponent(client_id);
            url += '&scope=' + encodeURIComponent(scope);
            url += '&redirect_uri=' + encodeURIComponent(redirect_uri);
            url += '&state=' + encodeURIComponent(state);
			
			continueButton();
            window.location = url;
          }, false);
        }
		
		$("#addBand").on('click',function(){
			var band = $("#bandInput").val();
			if(band.length > 0){
				$("#bands").append("<button class='btn addedBand'>"+band+"<span class='glyphicon glyphicon-remove'></span></button>");
				$("#bandInput").val("");
				savedBands.push({"name":band, "spotifyId":undefined});
				//continueButton();
			}
		});
		
		$(document).on('click','.addedBand', function(){
			this.remove();
			var index = findBand(this.innerText);
			savedBands.splice(index,1);
			//continueButton();			
		})
		
	  	function continueButton(){
			var button = $("#continueButton");
			if(savedBands.length > 0 || $("#bands").length > 0){
				console.log("there is at least a band.");
				button.show();
			}else{
				console.log("no bands.");
				button.hide();
			}
		}

		function nextStep(){
			localStorage.setItem("savedBands", JSON.stringify(savedBands));
			//savedBands = JSON.stringify(savedBands);
			console.log(savedBands);
			$.ajax({
				method:"POST",
				url: "/add-bands",
				data: {"bands" : savedBands},
				success: window.location = '/complete-profile'
			})
		}
		
		$("#continueButton").one('click', nextStep);
		
      })();

	  
    </script>
	<style>
		#continue{
			margin-top: 20px;
		}
		.glyphicon-remove{
			margin-left: 15px;
		}
		.addedBand{
			background-color:purple;
			color:white;
			border-radius:20px;
			margin: 5px;
		}
		
		.bandImage{
			height: 175px;
		}
	</style>