	<div id="login">
		<h3>Add Your Top Artists from Spotify</h3>
		<button id="login-button" class="btn">Get Artists from Spotify</button>
	</div>
	<div id="continue">
		<h3>Added your top artists from Spotify.</h3>
		<p>You can edit this list later.</p>
		<button id="continueButton" class="btn">Continue to Profile <span class="glyphicon glyphicon-fast-forward" aria-hidden="true"></span></button>
	</div>
	<!-- REMOVING THIS FOR NOW IOT SIMPLIFY. TODO: ADD IT BACK LATER.
	  <h3>Add Artists</h3>
	  <div id="bandEntry"><input id="bandInput" type="text"><button id="addBand">Add</button></div> -->
	<div id="bands">		
	</div>
<script>
	(function() {	  

		function findImage(x){
			for(i=0;i<x.length;i++){
				if(x[i]['height'] < 260){
					return i;
				}
			}
		};
	  
        var stateKey = 'spotify_auth_state';
		
		var savedBands = []; //TODO: clear localStorage upon adding bands to profile....
		/*var localStoreBands = localStorage.getItem("savedBands");
		if(localStoreBands){
			var previousBands = JSON.parse(localStoreBands);
			previousBands.forEach(function(band){
				$("#bands").append("<button class='btn addedBand'>"+band.name+"<span class='glyphicon glyphicon-remove'></span></button>");
			});
		};
		*/
		//var storedNames = JSON.parse(localStorage.getItem("savedBands"));

        /**
         * Obtains parameters from the hash of the URL
         * @return Object
         */
        function getHashParams() {
          var hashParams = {};
          var e, r = /([^&;=]+)=?([^&;]*)/g,
              q = window.location.hash.substring(1);
          while ( e = r.exec(q)) {
             hashParams[e[1]] = decodeURIComponent(e[2]);
          }
          return hashParams;
        }

        /**
         * Generates a random string containing numbers and letters
         * @param  {number} length The length of the string
         * @return {string} The generated string
         */
        function generateRandomString(length) {
          var text = '';
          var possible = 'ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789';
          for (var i = 0; i < length; i++) {
            text += possible.charAt(Math.floor(Math.random() * possible.length));
          }
          return text;
        };
        var params = getHashParams();
        var access_token = params.access_token,
            state = params.state,
            storedState = localStorage.getItem(stateKey);

        if (access_token && (state == null || state !== storedState)) {
          alert('There was an error during the authentication');
        } else {
          localStorage.removeItem(stateKey);
          if(access_token){
            $.ajax({
                url: 'https://api.spotify.com/v1/me/top/artists',
                headers: {
                  'Authorization': 'Bearer ' + access_token
                },
                success: function(response) {
					response.items.forEach(function(i){
						var imgIndex = findImage(i.images);
						$('#bands').append(
						"<span class='image'>"+
							"<img class='bandImg' src="+i.images[imgIndex].url+">"+
							"<div class='name'>"+i.name+"</div>"+
						"</span>"
						).hide().fadeIn(1000);
						savedBands.push({"name" : i.name, "spotifyId": i.id, "artistImage": i.images[imgIndex].url});
						$('#continue').show();
					});					
					$('#login').hide();
                }
            });
          }else{
            $('#login').show();
            $('#loggedin').hide();
          }

        document.getElementById('login-button').addEventListener('click', function() {		  
			localStorage.setItem("savedBands", JSON.stringify(savedBands));
            var client_id = 'bc80436ad194471c8a791c060649ecf9'; // Your client id
            var redirect_uri = 'https://bandfriend.herokuapp.com/add-bands'; // Your redirect uri
            var state = generateRandomString(16);
            localStorage.setItem(stateKey, state);
            var scope = 'user-top-read';
            var url = 'https://accounts.spotify.com/authorize';
            url += '?response_type=token';
            url += '&client_id=' + encodeURIComponent(client_id);
            url += '&scope=' + encodeURIComponent(scope);
            url += '&redirect_uri=' + encodeURIComponent(redirect_uri);
            url += '&state=' + encodeURIComponent(state);			
            window.location = url;
          }, false);
        }
		/*
		$("#addBand").on('click',function(){
			var band = $("#bandInput").val();
			if(band.length > 0){
				$("#bands").append("<button class='btn addedBand'>"+band+"<span class='glyphicon glyphicon-remove'></span></button>");
				$("#bandInput").val("");
				savedBands.push({"name":band, "spotifyId":undefined});
				//continueButton();
			}
		});
		
		$(document).on('click','.addedBand', function(){
			this.remove();
			var index = findBand(this.innerText);
			savedBands.splice(index,1);
			//continueButton();			
		})
		
	  	function continueButton(){
			if(savedBands.length > 0 || $("#bands").length > 0){
				console.log("there is at least a band.");
				button.show();
			}else{
				console.log("no bands.");
				button.hide();
			}
		}
		*/


		function nextStep(){
			localStorage.setItem("savedBands", JSON.stringify(savedBands));
			//savedBands = JSON.stringify(savedBands);
			console.log(savedBands);
			$.ajax({
				method:"POST",
				url: "/add-bands",
				//dataType: "json",
				data: {"bands" : savedBands}
			}).done(function(response){
				window.location.href = response.redirect;
			});
		}
		
		$("#continueButton").one('click', nextStep);
		
    })();

    </script>
	<style>
		body{
			background: linear-gradient(-45deg, purple, purple, indigo);
			color: white;
			height: 100vh;
		}
		#login{
			padding-top: 20vh;
		}
		#bands{
			text-align: center;
		}
		#continue{
			text-align: center;
			margin-top: 5vh;
			margin-bottom: 5vh;
			display: none;
		}
		button{
			background: limegreen;
			color: white;
		}
		.glyphicon-remove{
			margin-left: 15px;
		}
		.addedBand{
			background-color:purple;
			color:white;
			border-radius:20px;
			margin: 5px;
		}
		.bandImg{
			height: 100px;
			width: 100px;
		}
		@media (min-width: 600px) {
			.bandImg{
				height: 175px;
				width: 175px;
			}
		}
		.image{
			position:relative;
			text-align:center;		
		}
		.name{
			display: none;
			color: white;
			left: 0;
			position:absolute;
			width: 100%;
			font-weight: bold;
			pointer-events:none;
			bottom: 50%;
			text-align: center;
			transform: translateY(50%)
		}
		.fade{
			opacity: .2;
		}


	</style>
	<script>
		$(document).on("mouseenter", "img.bandImg", function(){
			$(this).addClass("fade").siblings().show();
		});
		$(document).on("mouseleave", "img.bandImg", function(){
			$(this).removeClass("fade").siblings().hide();
		});
	</script>