<h2 style="margin-left: 80px">(Development Only)</h2>
<form class="form-horizontal" role="form" 
		enctype="multipart/form-data" method="POST"
		action="/make-fake">
	<div class="form-group">
		<label for="fieldName" class="col-sm-2 control-label">User Name</label>
		<div class="col-sm-4">
			<input type="text" class="form-control" 
			id="fieldName" name="name">
		</div>
	</div>
	<div class="form-group">
		<label for="fieldPhoto" class="col-sm-2 control-label">Profile Picture</label>
		<div class="col-sm-4">
			<input type="file" class="form-control" required accept="image/*"
				id="fieldPhoto" data-url="/upload" name="photo">
		</div>
	</div>
	<div class="form-group">
		<label for="fieldBio" class="col-sm-2 control-label">Bio</label>
		<div class="col-sm-4">
			<input type="text" class="form-control" 
				id="fieldBio" name="bio">
		</div>
	</div>
	<div class="form-group">
	<label for="fieldGenre" class="col-sm-2 control-label">Genre</label>
	<div class="col-sm-4">
		<select id="selectGenre" name="selectGenre" class="form-control">
			<option value="pop">Pop</option>
			<option value="rap">Rap</option>
			<option value="country">Country</option>
			<option value="folk">Folk</option>
			<option value="indie+rock">Indie Rock</option>
			<option value="indie+pop">Indie Pop</option>
			<option value="indie+folk">Indie Folk</option>
			<option value="soul">Soul</option>
			<option value="funk">Funk</option>
			<option value="rock">Rock</option>
			<option value="indie">Indie</option>
			<option value="metal">Metal</option>
			<option value="classical">Classical</option>
			<option value="dance+pop">Dance Pop</option>
			<option value="stomp+and+holler">Stomp and Holler</option>
			<option value="neo mellow">Neo Mellow</option>
			<option value="folk-pop">Folk-Pop</option>
		</select>
		<br>
		<button type="button" class="btn" id="genreBands">Get Bands</button>
	</div>

	<div style="display:none" name="autoBands" id="autoBands"></div>

	</div>
	<div class="form-group">
		<label for="fieldAge" class="col-sm-2 control-label">Age</label>
		<div class="col-sm-4">
			<input type="text" class="form-control" 
				id="fieldAge" name="age">
		</div>
	</div>
	<div class="form-group">
		<label for="fieldGender" class="col-sm-2 control-label">Gender</label>
		<div class="col-sm-4">
			<input type="text" class="form-control" 
				id="fieldGender" name="gender">
		</div>
	</div>
	<div class="form-group">
		<label for="fieldSpecificCoords" class="col-sm-2 control-label">Specify Coords</label>
		<div class="col-sm-4">
			<input type="text" class="form-control" 
				id="fieldSpecificCoords" name="specificCoords" placeholder="-78.2339, 35.0034">
		</div>
	</div>
	<div class="form-group">
		<div class="col-sm-offset-2 col-sm-4">
			<button type="submit" class="btn btn-primary">Create Fake Profile</button>
		</div>
	</div>

</form>

<script>
	function findImage(x){
		for(i=0;i<x.length;i++){
			if(175 < x[i]['height'] < 300){
				return i;
			}
		}
	};
	var fakeUserBands = [];
	$("#genreBands").on('click', function(){
		console.log("-----------------------------------------------------------------------");
		var genre = $("#selectGenre").val();
		$.ajax({
			method: "GET",
			url: "https://api.spotify.com/v1/search?type=artist&q=genre:%22"+genre+"%22",
			dataType: "json"
		}).done(function(data){
			var randNum4to12 = Math.floor(Math.random()*9)+4;
			var randDistinctNums = randDistinct(data.artists.items, randNum4to12);
			randDistinctNums.forEach(function(num){
				var imgIndex = findImage(data.artists.items[num].images)
				fakeUserBands.push({
					"name" : data.artists.items[num].name,
					"spotifyId" : data.artists.items[num].id,
					"artistImage" : data.artists.items[num].images[imgIndex].url
				});
			})
			console.log(fakeUserBands);
			document.cookie = "fakeUserBands="+JSON.stringify(fakeUserBands);
		});
	});
	
	function randDistinct(arry, num){
		var randValues = [];
		while(randValues.length < num){
			var randValue = Math.floor(Math.random()*arry.length);
			if(randValues.indexOf(randValue) < 0){
				randValues.push(randValue);
			}
		}
		return randValues
	};	
	
</script>