<h1>Edit Profile</h1>
<p>todo: let user edit their profile. Spotify bands are in localStorage at this point...</p>
<!--form enctype="multipart/form-data" method="POST"
	action="/username/avatar">
	<input id="profileImage" type="file"><br>
	<img id="previewImg" src="" height="200" alt="Image preview...">
	<button>Submit</button>
</form-->
<form method="POST" enctype="multipart/form-data">
    <input type="file" id="file">
    <div id="preview"></div>
</form>


<script>
// Callback from a <input type="file" onchange="onChange(event)">
/* image preview */
$('#file').change(function(){
    var oFReader = new FileReader();
    oFReader.readAsDataURL(this.files[0]);
    console.log(this.files[0]);
    oFReader.onload = function(oFREvent){
        $('#preview').html('<img src="'+oFREvent.target.result+'">');
    };
});
</script>

