<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '1520694817975114',
      cookie     : true,
      xfbml      : true,
      version    : 'v2.8'
    });
	$(document).trigger('fbload');	
  };
  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
   
</script>
<script src="https://apis.google.com/js/platform.js?onload=onLoadCallback" async defer></script>
<script>
	window.onLoadCallback = function(){
		console.log("top of callback...");
		gapi.load('auth2', initSigninV2);
		function initSigninV2(){
			gapi.auth2.init({
				client_id: "10158595553-vgls2otg0imrq6fstohrees9vbdat547.apps.googleusercontent.com",
				scope: "email"
			}).then(function (authInstance) {
				var googButton = $("#googLoginButton");
				googButton.one('click', function(){
					console.log("clicked googie");
					authInstance.signIn().then(function(){
						console.log("then after sign in....");
						var gmail = authInstance.currentUser.get().getBasicProfile().getEmail();
						var credential = authInstance.currentUser.get().getAuthResponse();
						$.ajax({
							method: "POST",
							url: "/google-sign-in",
							data: {"id_token" : credential.id_token}
						}).done(function(response){
							console.log("respose = " + response);
							if(response.newUser){
								window.location.href = '/add-bands';
							}else if(response.incompleteProfile){
								window.location.href = '/complete-profile';
							}else{
								window.location.href = '/';
							}
						})						
					});
				});
			});		
		}
   }
</script>
<!--meta name="google-signin-client_id" content="10158595553-vgls2otg0imrq6fstohrees9vbdat547.apps.googleusercontent.com"-->

{{#if loggedInUserName}}
<div class="container-fluid">
	<div id="dashboard">
		<div class="row row-dashboard">
			<div class="col-md-2"></div>
			<div class="col-md-2 col-xs-6 text-center">
				{{#if msgCount}}
				<span id="shiftMessagesRight">
					<span id="messages" class="glyphicon smaller-glyph glyphicon-envelope" aria-hidden="true"></span>
					<span class="badge badge-notify" style="font-size:1.5em;">{{msgCount}}</span>
				</span>
				<div>Messages</div>
				{{else}}
				<span>
					<span id="messages" class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
					<span class="badge badge-notify" style="font-size:1.5em;">{{msgCount}}</span>
				</span>
				<div>Messages</div>			
				{{/if}}
			</div>
			<div class="col-md-2 col-xs-6 text-center">
				<span id="search" class="glyphicon glyphicon-heart-empty" aria-hidden="true"></span>
				<div>Search</div>
			</div>
			<div class="col-md-2 col-xs-6 text-center">
				<span id="browseButton" class="glyphicon glyphicon-globe" aria-hidden="true"></span>
				<div>Browse</div>
			</div>
			<div class="col-md-2 col-xs-6 text-center">
				<span id="edit" class="glyphicon glyphicon-edit" aria-hidden="true"></span>
				<div>Edit Profile</div>
			</div>
			<div class="col-md-2"></div>
		</div>
	</div>
</div>
{{else}}
<div class="container">
	<div id="topRow" class="row"></div>
	<div class="col-md-4"></div>
	<div id="welcome-tile" class="col-md-4">
		<h1>Band Friend App</h1>
		<p>The only dating app that matches based on the bands you like. 
		See who's in your area!</p>
		<div id="loginOptions">
			<div id="googLoginButton" class="federatedLoginButton">
				<button id="googloginbtn" class="btn btn-large">Continue with Google</button>
			</div>
			<div id="fbLoginButton" class="federatedLoginButton">
				<button id="fbloginbtn" class="btn btn-large">Continue with Facebook</button>
			</div>
			<div id="emailAndPass" class="federatedLoginButton">
				<button id="emailAndPassBtn" class="btn btn-large">Or, continue with email & password</button>
			</div>
		</div>
		<div id="entry">
			<div id="login-manually" style="display:none;">
				<form action='/login' method='POST'>
					<input type="text" id="email" name="email" class="form-control" placeholder="email@example.com">
					<div style="height:8px"></div>
					<input type="password" id="pass" name="pass" class="form-control" placeholder="password">
					<button type="submit" class="btn btn-sm manualEntry attention">Log in</button>
				</form>
				<button id="togSignUp" class="btn btn-sm loginToggler">New here? Sign Up</button>
			</div>
			<div id="signup-manually">
				<form action='sign-up' method='POST'>
					<input type="text" id="email" name="email" class="form-control" placeholder="email@example.com">
					<div style="height:8px"></div>
					<input type="password" id="pass" name="pass" class="form-control" placeholder="choose a password">
					<button type="submit" class="btn btn-sm manualEntry attention">Sign up</button>
				</form>
				<button id="togLogIn" class="btn btn-sm loginToggler">Already signed up with email? Log In</button>
			</div>
		</div>
	</div>
	<div class="col-md-4"></div>
	<div class="row"></div>
</div>
<!--div class="container">
	<h1>Band Friend App</h1>
	<p>The only dating app that matches based on the bands you like. Thousands of singles are signing up every day!</p>
	<h3>Sign up with your Google or Facebook account</h3>
	<div id="loginOptions">
		<div id="googLoginButton" class="federatedLoginButton">
			<button id="googloginbtn" class="btn btn-large">Login with Google</button>
		</div>
		
		<div id="fbLoginButton" class="federatedLoginButton">
			<button id="fbloginbtn" class="btn btn-large">Login with Facebook</button>
		</div>
			<h4>Or, use your email and create a password</h4>
		<div id="emailAndPass" class="federatedLoginButton">
			<button id="emailAndPassBtn" class="btn btn-large">Login with Email</button>
		</div>
	</div>
	<div id="entry">
		<div id="login-manually" style="display:none;">
			<h3>Log in</h3>
			<form action='/login' method='POST'>
				<input type="text" id="email" name="email" placeholder=" email@example.com">
				<input type="text" id="pass" name="pass" placeholder=" password">
				<button type="submit" class="btn btn-sm manualEntry attention">Log in</button>
			</form>
			<button id="togSignUp" class="btn btn-sm loginToggler">New here? Sign Up</button>
		</div>
		<div id="signup-manually">
			<h3>New here? Sign up!</h3>
			<form action='sign-up' method='POST'>
				<input type="text" id="email" name="email" placeholder=" email@example.com">
				<input type="text" id="pass" name="pass" placeholder=" password">
				<button type="submit" class="btn btn-sm manualEntry attention">Sign up</button>
			</form>
			<button id="togLogIn" class="btn btn-sm loginToggler">Already signed up using email? Log In</button>
		</div>
	</div>
</div-->
<br>
{{/if}}
<script>
var fbButton = $("#fbloginbtn");
fbButton.one('click', function(){
	FB.login(function(response){
		if(response.status == "connected"){
			$.ajax({
				method: "POST",
				url: "/facebook-sign-in",
				data: {"authResponse" : response.authResponse}
			}).done(function(serverResponse){
				console.log(serverResponse);
				if(serverResponse.newUser){
					window.location.href = '/add-bands';
				}else if(serverResponse.incompleteProfile){
					window.location.href = '/complete-profile';
				}else{
					window.location.href = '/';
				}
			})
		}
	});
});

var emailOption = $("#emailAndPassBtn");
var entry = $("#entry");
var loginOptions = $("#loginOptions");
emailOption.one('click', function(){
	entry.slideDown();
});
var togLogIn = $("#togLogIn");
var togSignUp = $("#togSignUp");
var loginManually = $("#login-manually");
var signupManually = $("#signup-manually");
togLogIn.on('click', function(){
	signupManually.slideToggle(800, function(){
		loginManually.slideToggle(800);
	});
});
togSignUp.on('click', function(){
	loginManually.slideToggle(800, function(){
		signupManually.slideToggle(800);
	});
});
</script>
<style>
#topRow{
	height: 20vh;
}
#welcome-tile{
  background:white;
  color: #2a2a2a;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}
#entry{
	display:none;
}
#entry input{
	display:block;
	margin-bottom: 2px;
	width: 260px;
	border-radius: 2px;
	border: 1px solid indigo;
	color: black;
}
#entry div p{
	margin-top: 10px;
}
#entry input{
	margin:0 auto;
}
#entry div p button{
	padding-bottom: 3px;
}
.manualEntry,
.loginToggler{
	margin-top: 10px;
}
.loginToggler{
	background: white;
	color: indigo;
}
.federatedLoginButton{
	margin-bottom:1vh;
}
.federatedLoginButton button,
.manualEntry,
.loginToggler{
	background: white;
	color: indigo;
	width: 260px;
}
#fbloginbtn{
	color:white;
	background:#4267b2;
}
#googloginbtn{
	color:white;
	background:#0057e7;
}
#shiftMessagesRight{
	padding-left:30px;
}
.row-dashboard{
	margin-top:120px;
}
.glyphicon{
	font-size:5em;
	color:purple;
}
.smaller-glyph{
  font-size:4.7em;
}
.badge-notify{
   background:orange;
   position:relative;
   top: -53px;
   left: -20px;
}
.col-md-2{
	color: purple;
}
.col-xs-6{
	margin-bottom: 10vh;
}

.attention{
  	background: indigo;
	color: white;
}
</style>

<script>
var screenHeight = screen.height;
var docHeight = $(document).height();
var screenWidth = screen.width;
var messages = $("#messages");
var userMap = $("#userMap");
var userList = $("#userList");
var browse = $("#browseButton");
var search = $("#search");
var edit = $("#edit");
messages.on('click', function(){
	window.location.href = '/messages';
});
userMap.on('click', function(){
	window.location.href = '/user-map';
});
userList.on('click', function(){
	window.location.href = '/list-profiles';
});
browse.on('click', function(){
	window.location.href = '/browse';
});
search.on('click', function(){
	alert("Coming Soon!");
});
edit.on('click', function(){
	window.location.href = '/edit';
});
</script>