<script src="https://apis.google.com/js/platform.js" async defer></script>
<meta name="google-signin-client_id" content="10158595553-vgls2otg0imrq6fstohrees9vbdat547.apps.googleusercontent.com">

<!--TODO: make Google and FB login first options-->

{{#if loggedInUserName}}
<div class="container-fluid">
	<div id="dashboard">
		<div class="row row-dashboard">
			<div class="col-md-2"></div>
			<div class="col-md-2 col-xs-6 text-center">
				{{#if msgCount}}
				<span id="shiftMessagesRight">
					<span id="messages" class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
					<span class="badge badge-notify" style="font-size:1.5em;">{{msgCount}}</span>
				</span>
				<div>Messages</div>
				{{else}}
				<span>
					<span id="messages" class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
					<span class="badge badge-notify" style="font-size:1.5em;">{{msgCount}}</span>
				</span>
				<div>Messages</div>			
				{{/if}}
			</div>
			<div class="col-md-2 col-xs-6 text-center">
				<span id="search" class="glyphicon glyphicon-search" aria-hidden="true"></span>
				<div>Search</div>
			</div>
			<div class="col-md-2 col-xs-6 text-center">
				<span id="edit" class="glyphicon glyphicon-edit" aria-hidden="true"></span>
				<div>Edit Profile</div>
			</div>
			<div class="col-md-2 col-xs-6 text-center">
				<span id="browseButton" class="glyphicon glyphicon-globe" aria-hidden="true"></span>
				<div>Browse</div>
			</div>
			<div class="col-md-2"></div>
		</div>
	</div>
</div>
{{else}}
<div class="container">
	<h1>ipsle</h1>
	<p>Here there needs to be: background image of cuties, semi faded monochrome, value proposition.</p>
	<p>And high-viz federated login option first, then "or login with with email and password"</p>

	<div class="g-signin2" data-onsuccess="onSignIn" data-width="175" data-height="35" data-longtitle="true"></div>

	<div id="entry">
	<h3>Log in</h3>
	<form action='/login' method='POST'>
		<label>Email: </label><input type="text" id="email" name="email">
		<label>Pass: </label><input type="text" id="pass" name="pass">
		<button type="submit" class="login">Log in</button>
	</form>

	<h3>New here? Sign up!</h3>
	<form action='sign-up' method='POST'>
		<label>Email: </label><input type="text" id="email" name="email">
		<label>Pass: </label><input type="text" id="pass" name="pass">
		<button type="submit" class="signup">Sign up</button>
	</form>
	</div>
</div>
<br>
{{/if}}
<!--script>
function onSignIn(googleUser) {
	var id_token = googleUser.getAuthResponse().id_token;
	console.log('Google Auth Response', googleUser);
	$.ajax({
		method: "POST",
		url: "/google-sign-in",
		data: {"id_token" : id_token}
	}).done(function(response){
		console.log(response);
		if(response.newUser){
			window.location.href = '/add-bands';
		}else{
			window.location.href = '/edit';
		}
	})
};
</script-->
<style>
#shiftMessagesRight{
	padding-left:30px;
}

.row-dashboard{
	margin-top:120px;
}
.glyphicon{
	font-size:5em;
	color:purple;
}
.badge-notify{
   background:orange;
   position:relative;
   top: -55px;
   left: -22px;
}

.col-md-2{
	color: purple;
}
</style>

<script>
var screenHeight = screen.height;
console.log(screenHeight);
var docHeight = $(document).height();
console.log(docHeight);
$(document).ready(function(){
	$("body").height(docHeight - 60);
});


var messages = $("#messages");
var userMap = $("#userMap");
var userList = $("#userList");
var browse = $("#browseButton");
var search = $("#search");
var edit = $("#edit");

messages.on('click', function(){
	window.location.href = '/messages';
});
userMap.on('click', function(){
	window.location.href = '/user-map';
});
userList.on('click', function(){
	window.location.href = '/list-profiles';
});
browse.on('click', function(){
	window.location.href = '/browse';
});
search.on('click', function(){
	alert("Coming Soon!");
});
edit.on('click', function(){
	window.location.href = '/edit';
});
</script>
