<script src="https://apis.google.com/js/platform.js" async defer></script>
<meta name="google-signin-client_id" content="10158595553-vgls2otg0imrq6fstohrees9vbdat547.apps.googleusercontent.com">

{{# if user}}
<p>Welcome, {{user.displayName}}</p>
<div id="exit">
	<form action="logout" method="POST">
		<button class="logout btn btn-large">Log out</button>
	</form>
</div>
<br>
<button id="messages" class="btn btn-large">Check Messages</button>

{{else}}

<div class="g-signin2" data-onsuccess="onSignIn"></div>

<div id="entry">
<h3>Log in</h3>
<form action='/login' method='POST'>
<label>Email: </label><input type="text" id="email" name="email">
<label>Pass: </label><input type="text" id="pass" name="pass">
<button type="submit" class="login">Log in</button>
</form>

<h3>New here? Sign up!</h3>
<form action='sign-up' method='POST'>
<label>Email: </label><input type="text" id="email" name="email">
<label>Pass: </label><input type="text" id="pass" name="pass">
<button type="submit" class="signup">Sign up</button>
</form>
</div>
<br>
{{/if}}
<!--script>
function onSignIn(googleUser) {
	var id_token = googleUser.getAuthResponse().id_token;
	console.log('Google Auth Response', googleUser);
	$.ajax({
		method: "POST",
		url: "/google-sign-in",
		data: {"id_token" : id_token}
	}).done(function(response){
		console.log(response);
		if(response.newUser){
			window.location.href = '/add-bands';
		}else{
			window.location.href = '/edit';
		}
	})
};
</script-->


<script>
var messages = $("#messages");
messages.on('click', function(){
	window.location.href = '/messages';
});
</script>
