<div class="container">
<h2>All Profiles <small>(Dev Only - Not for Production)</small></h2>
	<ul id="profiles">
		{{#each profiles}}
		<li><a href="/profile/{{this.name}}">{{this.name}}</a></li>
		{{/each}}
	</ul>
</div>