<div class="panel">
	<h1>Terms of Service</h1>
	<p>
	By using this app, you affirm that you are at least 18 years of age.
	More to come later. 	
	</p>
</div>

<style>
div{
	margin-top: 10vh;
	}
</style>